<div class="container">
	<form class="form-horizontal" role="form" ng-submit="addDate()">
		<input ng-model="date.id" placeholder="id">
		<input ng-model="date.latitude" placeholder="latitude">
		<input ng-model="date.longitude" placeholder="longitude">	
		<input ng-model="date.show" placeholder="show">
		<input ng-model="date.description" placeholder="description">
		<input ng-model="date.price" placeholder="price">
		<button class="button">Create Date √</button>
	</form>
	<button class="button" ng-click="getDates()">Show all Dates</button>

</div>